<div align="center">
    <img src="images/zb-logo.png" alt="제로베이스" width="100%">
    <br>
    <a href="https://zerobaseschool.notion.site/DS-EDA-Lv-Test-b7d5e895c7cd4dda813c8fe2f2c23f79"><img src="images/openinnotion_logo.png" alt="EDA Lv Test Doc" width="12%"></a>

이 Jupyter Notebook 파일은 <a href="https://zero-base.co.kr/category_data_camp/school_DS">제로베이스</a>에서 제공하는 **EDA Level Test** 문제입니다.<br>
지금까지 공부하신 내용으로 데이터 분석에 대해 좀 더 연습할 수 있는 시간이 되셨으면 좋겠습니다.🙂<br>
**EDA Level Test**에 대한 안내 사항은 상단 **Open in ZeroBase Notion** 로고를 클릭하여 확인해주세요!<br>
반드시 시작 전에 내용을 숙지해주시기를 바랍니다!<br>
</div>

***

<h1 style="background-color:#9F81F7;color:#D8D8D8;font-weight:bold;display:inline-block;padding: 5px">EDA Level Test 06 ⭐️⭐️</h1>

| Week | Data Analysis | Difficulty | This Notebook |
|------|---------------|------------|-------|
| 1    | 서울시 인구 데이터 | ⭐️ ||
| 2    | 화장품 성분 데이터 | ⭐️⭐️⭐️ ||
| 3    | 올림픽 데이터 | ⭐️⭐️ ||
| 4    | 국가별 인터넷 사용률 데이터 |⭐️⭐️ ||
| 5    | 전국 박물관/미술관 정보 표준 데이터 | ⭐️⭐️⭐️ ||
| 6    | 서울시 흡연율 통계 데이터 | ⭐️⭐️ |👈|
| 7    | 웹크롤링 | ⭐️ ||
| 8    | 서울시 지하철 호선별 역별 유/무임 승하차 인원 정보 데이터 | ⭐️⭐️ ||
| 9    | 서울시 교통사고 현황 (사고유형별) 통계 데이터 | ⭐️⭐️ ||
| 10   | 서울시 교통사고 현황 (사고유형별) 통계 + 서울시 차량통행속도 (구별/월별) 통계 + 서울시 인구밀도 (구별) 통계 | ⭐️⭐️⭐️ ||

## 문제 소개 및 데이터 준비 단계

<div style="border: 1px solid black; padding: 10px;">

### 문제 소개
- 총 3단계 데이터 분석 상황 제시
<br></br>
    - 1단계: DataFrame 전처리 01 - 기초
    - 2단계: DataFrame 전처리 02 - 심화
    - 3단계: 원하는 정보 얻기
<br></br>
    - 총점 100점

### Data 원본 출처

### Target Data(txt): 서울시 흡연율 통계
- Source: [서울 열린데이터 광장](https://data.seoul.go.kr/dataList/10668/S/2/datasetView.do;jsessionid=C18A51D1DF6D7CE1CD05D8C842510242.new_portal-svr-11)
- Reference: [PinkWink](https://pinkwink.kr/1288?category=580892)
- DownLoad: 상기 Source(서울 열린데이터 광장)에서 2009년 - 2018년 설정하여 Download
    - 문제 출제 이후 Data 변경될 가능성이 있으므로 문제 풀이시 하기 File Path의 Data 사용
- File Path: ```'./datas/report.txt'```

### 참고사항
- 서울 열린데이터 광장에서 해당 데이터는 다양한 Format(xls, txt, hwp)으로 제공합니다.
- 데이터는 탭으로 구분하여 TXT로 제공합니다
- 문제에 hint가 있을 경우, 해당 hint를 이용하지 않으셔도 무방합니다.

</div>

In [31]:
import pandas as pd
# 채점을 위한 코드입니다. 반드시 실행해주세요.
from grading import *

df_target = pd.read_csv('report.txt', sep='\t')
df_target.head()

     기간     구분    구분.1    전체    남자   여자
0  2009    서울시     서울시  24.3  45.5    4
1  2009  생애주기별  19~29세  24.9  43.8    6
2  2009  생애주기별  30~44세  29.9  55.1  3.8
3  2009  생애주기별  45~64세  22.6  43.2  3.3
4  2009  생애주기별  65세 이상  11.5  22.8  2.9

## 문제 시작! 🏃🏻

## 1단계: DataFrame 전처리 01 - 기초
***

### 문제 1-1) 기초 전처리 01 (5점)
- 위의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 조건1: '구분' Column(열)명을 '구분1'로, '구분.1' Column(열)명을 '구분2'로 변경하세요.
<br></br>
    - 조건2: 조건1에 따라 Column(열)명을 변경한 후 '구분1'의 '서울시'를 '시'로, '**구'(예: 양천구, 영등포구)는 '구'로 변경하세요.
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_01 함수에 입력하여 채점하세요.

In [32]:
# 조건 1
df_target.rename(columns={"구분": "구분1", "구분.1": "구분2"}, inplace=True)

In [33]:
df_target['구분1'].unique()

array(['서울시', '생애주기별', '교육수준별Ⅰ(30~64세)', '교육수준별Ⅱ(65세 이상)', '직업별(30~64세)',
       '종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구',
       '도봉구', '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구',
       '영등포구', '동작구', '관악구', '서초구', '강남구', '송파구', '강동구'], dtype=object)

In [34]:
# 조건 2
df_target['구분1'] = df_target['구분1'].apply(lambda x: '시' if x.endswith('시') else ('구' if x.endswith('구') else x))

In [35]:
# 1-1

check_01_01(df_target)
df_target.head()

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 20 / 100

     기간    구분1     구분2    전체    남자   여자
0  2009      시     서울시  24.3  45.5    4
1  2009  생애주기별  19~29세  24.9  43.8    6
2  2009  생애주기별  30~44세  29.9  55.1  3.8
3  2009  생애주기별  45~64세  22.6  43.2  3.3
4  2009  생애주기별  65세 이상  11.5  22.8  2.9

### 문제 1-2) 기초 전처리 02 (10점)
- 1-1의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 조건1: '여자' Column(열)명의 Data 중 float Type으로 변경할 수 있는 경우 float(numpy.float64)으로 Type을 변경하고, 불가능한 경우 해당 Data의 값을 Null값(None)으로 변경하세요.
<br></br>
    - 조건2: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: python 예외처리(try-except)를 활용해보세요.
<br></br>
    - hint2: 현재 df_target의 '여자' Column(열) data들의 Type은 str입니다.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_02 함수에 입력하여 채점하세요.

In [36]:
# 조건 1
df_target['여자'] = pd.to_numeric(df_target['여자'], errors='coerce')

In [37]:
# 1-2

check_01_02(df_target)
df_target.head()

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 20 / 100

     기간    구분1     구분2    전체    남자   여자
0  2009      시     서울시  24.3  45.5  4.0
1  2009  생애주기별  19~29세  24.9  43.8  6.0
2  2009  생애주기별  30~44세  29.9  55.1  3.8
3  2009  생애주기별  45~64세  22.6  43.2  3.3
4  2009  생애주기별  65세 이상  11.5  22.8  2.9

### 문제 1-3) 기초 전처리 03 (5점)
- 1-2의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - df_target의 '구분' Column(열) Data 중 '교육수준별Ⅱ(65세 이상)'의 Data들은 Null값이 너무 많아 분석 대상에서 제외하려고 합니다.
<br></br>
<br></br>
    - 조건1: '구분' Column(열)이 '교육수준별Ⅱ(65세 이상)'인 Row(행)을 삭제하세요.
<br></br>
    - 조건2: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 DataFrame 변수(df_target)를 check_01_02 함수에 입력하여 채점하세요.

In [38]:
df_target = df_target[df_target['구분1'] != '교육수준별Ⅱ(65세 이상)']

In [39]:
# 1-3

check_01_03(df_target)
df_target.head()

정답입니다! 5점 누적 되었습니다!
현재 누적 점수: 20 / 100

     기간    구분1     구분2    전체    남자   여자
0  2009      시     서울시  24.3  45.5  4.0
1  2009  생애주기별  19~29세  24.9  43.8  6.0
2  2009  생애주기별  30~44세  29.9  55.1  3.8
3  2009  생애주기별  45~64세  22.6  43.2  3.3
4  2009  생애주기별  65세 이상  11.5  22.8  2.9

## 2단계: DataFrame 전처리 02 - 심화
***

### 문제 2-1) 심화 전처리 01 (10점)
- 1단계의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - df_target '여자' Column(열)의 Data에 Null값을 채우고자 합니다.
<br></br>
    - Null값을 채우는 방법으로는 여러가지가 있는데, 이 Test에서는 '전체'와 '남자', '여자' Column(열)의 Data를 이용하여 '여자비율'을 구하고, '여자비율'의 변화를 확인하여 Null값을 채워보려고 합니다.
<br></br>
    - **df_target.전체 = df_target.여자 * x/100 + df_target.남자 * (1 - x/100)** 에서의 x% 값이 '여자비율'입니다.
<br></br>
    - 예시
<br></br>
    <img src="images/06-2-1-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - 조건1: '여자' Column(열)의 Data가 Null값(None)이 아닌 경우 위의 수식에 따른 '여자비율'을 구하여 '여자비율' Column에 입력하세요(위 예시를 참고).
        - '여자비율' Column(열)의 Data는 소숫점 일곱 번째 자리에서 반올림하여 소숫점 여섯 번째까지 입력해주세요.
        - '여자비율' Column(열) Data의 Type은 float(numpy.float64)이어야 합니다.
<br></br>
    - 조건2: '여자' Column(열)의 Data가 Null값(None)인 경우 '여자비율' Column에 Null값(None)을 입력하세요(위 예시를 참고).
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: 방정식을 풀기 위한 Python Library로 Sympy 등이 있습니다. 해당 문제는 sympy를 이용해서 풀수도 있고, 비교적 쉬운 1차 방정식이므로 수식을 직접 전개해서 풀어도 상관 없습니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_target)를 check_02_01 함수에 입력하여 채점하세요.

In [80]:
df = df_target.copy()

In [81]:
df

       기간    구분1     구분2    전체    남자   여자
0    2009      시     서울시  24.3  45.5  4.0
1    2009  생애주기별  19~29세  24.9  43.8  6.0
2    2009  생애주기별  30~44세  29.9  55.1  3.8
3    2009  생애주기별  45~64세  22.6  43.2  3.3
4    2009  생애주기별  65세 이상  11.5  22.8  2.9
..    ...    ...     ...   ...   ...  ...
424  2019      구     관악구  18.0  30.3  5.6
425  2019      구     서초구  12.6  25.1  1.5
426  2019      구     강남구  14.7  26.6  4.2
427  2019      구     송파구  14.9  28.8  NaN
428  2019      구     강동구  18.5  34.8  2.9

[396 rows x 6 columns]

In [82]:
df['여자비율'] = 100 * ( df['남자'] - df['전체'] ) / (df['남자'] - df['여자'])

       기간    구분1     구분2    전체    남자   여자       여자비율
0    2009      시     서울시  24.3  45.5  4.0  51.084337
1    2009  생애주기별  19~29세  24.9  43.8  6.0  50.000000
2    2009  생애주기별  30~44세  29.9  55.1  3.8  49.122807
3    2009  생애주기별  45~64세  22.6  43.2  3.3  51.629073
4    2009  생애주기별  65세 이상  11.5  22.8  2.9  56.783920
..    ...    ...     ...   ...   ...  ...        ...
424  2019      구     관악구  18.0  30.3  5.6  49.797571
425  2019      구     서초구  12.6  25.1  1.5  52.966102
426  2019      구     강남구  14.7  26.6  4.2  53.125000
427  2019      구     송파구  14.9  28.8  NaN        NaN
428  2019      구     강동구  18.5  34.8  2.9  51.097179

[396 rows x 7 columns]

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 396 entries, 0 to 428
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기간      396 non-null    int64
 1   구분1     396 non-null    object
 2   구분2     396 non-null    object
 3   전체      396 non-null    float64
 4   남자      396 non-null    float64
 5   여자      371 non-null    float64
 6   여자비율    371 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 40.9+ KB

In [96]:
df['여자비율'] = df['여자비율'].round(6)

In [97]:
# 2-1

check_02_01(df)
display(df.head())

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 30 / 100

     기간    구분1     구분2    전체    남자   여자       여자비율
0  2009      시     서울시  24.3  45.5  4.0  51.084337
1  2009  생애주기별  19~29세  24.9  43.8  6.0  50.000000
2  2009  생애주기별  30~44세  29.9  55.1  3.8  49.122807
3  2009  생애주기별  45~64세  22.6  43.2  3.3  51.629073
4  2009  생애주기별  65세 이상  11.5  22.8  2.9  56.783920

### 문제 2-2) 심화 전처리 02 (10점)
- 2-1의 DataFrame(df_target)을 이용하여 아래의 조건에 맞는 정보를 구하여 DataFrame(df_result)으로 나타내세요.
<br></br>
    - df_target의 '여자' Column Data의 Null값(None)을 채우기 위한 근거로 아래와 같은 정보를 구하려고 합니다.
<br></br>
    - 2-1에서 구한 df_target '여자비율' Column Data의 연간 변동 정도를 '구분2' Column(열) Data 중 '여자비율'이 Null값(None)이 있는 '구분2' Data 별로 다양한 방법(회귀계수(coefficient), MinMax, 평균, 표준편차)을 이용하여 확인해보려 합니다.
<br></br>
    - 회귀계수란?
        - 선형 모형에서 x와 y의 관계를 수식으로 y = w * x + b 로 나타낼 수 있습니다.
        - 이 식에서 w(기울기)와 b(절편)를 회귀계수(cofficient)라고 합니다.
        - 독립변수 x가 1 증가할 때마다 종속변수 y는 w만큼 증가합니다.
        - 아래의 조건2에서 우리가 구하고자 하는 것은 회귀계수 중 기울기(w)이며, 편의상 w를 '회귀계수'라 표현하겠습니다.
<br></br>
    - 아래 예시는 아래의 조건에 맞추어 '전체' Column(열) Data의 연간 변동을 '구분2' Column(열) 별로 확인해 본 것 입니다.
<br></br>
        - 예시1
<br></br>
            <img src="images/06-2-2-001.png" style="margin:auto" width=400/>
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구', '회귀계수', 'MinMax', '평균', '표준편차'] 로 만들어주세요.
<br></br>
    - 조건2: '여자' 또는 '여자비율' Column(열) Data가 Null값(None)이 아닌 Row(행)의 '구분2' Column(열) Data를 구하고, 오름차순으로 정렬하세요.
<br></br>
        - 예시2: df_target의 일부입니다. 아래 그림에 대한 조건2의 결과는 [노원구, 동작구, 서초구] 입니다.
<br></br>
        <img src="images/06-2-2-002.png" style="margin:auto" width=400/>
<br></br>
    - 조건3: 조건2에 해당하는 Data 각각 '기간' Column(열) Data의 변화에 따른 '여자비율' Column(열)의 변동을 나타내는 '회귀계수'를 구하세요. 이 결과를 결과 DataFrame의  '회귀계수' Column(열)에 입력하세요.
        - 단순회귀분석(1차, 직선)의 회귀계수 중 기울기를 의미합니다. 위의 '회귀계수란?'을 참고해주세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 기간별 '회귀계수'를 구하면 됩니다.
        - '기간' Column(열)의 Data가 x가 됩니다.
        - '여자비율' Column(열) Data 가 y가 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건4: 조건2에 해당하는 Data 각각 '여자비율' Column(열) Data의 최대값과 최소값의 차이(MinMax)를 구하세요. 이 결과를 결과 DataFrame의  'MinMax' Column(열)에 입력하세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 최대값과 최소값의 차이를 구하면 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 절대값(양수)으로 표현하세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건5: 조건2에 해당하는 Data 각각 '여자비율' Column(열)의 평균을 구하세요. 이 결과를 결과 DataFrame의 '평균' Column(열)에 입력하세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 평균을 구하면 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 절대값(양수)으로 표현하세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건5: 조건2에 해당하는 Data 각각 '여자비율' Column(열)의 평균을 구하세요. 이 결과를 결과 DataFrame의 '표준편차' Column(열)에 입력하세요.
        - 위 그림의 예시2에 따르면 [노원구, 동작구, 서초구] 각각에 대한 표준편차을 구하면 됩니다.
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
        - 절대값(양수)으로 표현하세요.
        - 당연히 Null값(None)이 있는 Row(행)은 계산시 제외됩니다.
<br></br>
    - 조건6: 조건2의 Data를 순서대로 조건3~5의 값을 구하고 DataFrame을 만든다면, 결과 DataFrame의 '구' Column(열)을 기준으로 오름차순으로 정렬되어 있을 것 입니다. 만약 정렬되어있지 않다면, '구'를 기준으로 정렬하고 Index를 초기화하세요.
<br></br>
    - 조건7: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: 조건3 관련하여 이전에 배웠던 np.polyfit 함수를 응용해보세요.
<br></br>
    - hint2: 조건3 관련하여 정답 중 '강동구'의 '회귀계수'는 0.052052 입니다.
<br></br>
    - hint3: 예시1의 그림과 Index/Column이 동일합니다. 안의 숫자만 다릅니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_result)를 check_02_02 함수에 입력하여 채점하세요.

In [247]:
df2 = df.copy()

In [ ]:
# 조건 1
df2['구', '회귀계수', 'MinMax', '평균', '표준편차']

In [164]:
df_result = pd.DataFrame({'구': ['강동구', '구로구','노원구', '도봉구', '동대문구', '동작구', '서대문구', '서초구','성동구', '송파구', '양천구', '영등포구']})

df_result

       구
0    강동구
1    구로구
2    노원구
3    도봉구
4   동대문구
5    동작구
6   서대문구
7    서초구
8    성동구
9    송파구
10   양천구
11  영등포구

In [118]:
# 조건 2
df2_null = df2[df2.isnull().any(axis=1)]
df2_null['구분2'].unique()

array(['동대문구', '노원구', '동작구', '송파구', '양천구', '서초구', '성동구', '도봉구', '서대문구',
       '구로구', '영등포구', '강동구'], dtype=object)

In [163]:
null_list = ['강동구', '구로구','노원구', '도봉구', '동대문구', '동작구', '서대문구', '서초구','성동구', '송파구', '양천구', '영등포구']

In [136]:
df2_line = df2[df2['구분2'].isin(null_list)]
df2_line = df2_line.sort_values(by=['구분2', '기간'])
df2_line = df2_line.dropna()

In [138]:
from sklearn.linear_model import LinearRegression

# 선형 회귀 모델 생성
model = LinearRegression()

In [137]:
# 조건 3
df2_line_kang = df2_line[df2_line['구분2'] == '강동구']
df2_line_kang

       기간 구분1  구분2    전체    남자   여자       여자비율
38   2009   구  강동구  24.3  43.9  5.1  50.515464
77   2010   구  강동구  26.7  48.4  5.5  50.582751
116  2011   구  강동구  21.9  40.2  3.9  50.413223
155  2012   구  강동구  23.1  42.2  4.3  50.395778
194  2013   구  강동구  23.0  42.3  4.3  50.789474
233  2014   구  강동구  18.5  33.8  3.5  50.495050
272  2015   구  강동구  19.5  36.0  3.3  50.458716
311  2016   구  강동구  18.3  33.9  3.1  50.649351
350  2017   구  강동구  17.4  31.2  4.1  50.922509
428  2019   구  강동구  18.5  34.8  2.9  51.097179

In [142]:
X = df2_line_kang['기간'].values.reshape(-1, 1)
y = df2_line_kang['여자비율'].values

In [148]:
# 선형 회귀 모델 생성
model = LinearRegression()

# 모델 훈련
model.fit(X, y)

# 회귀계수 출력
slope = model.coef_[0]
slope

0.052052110389610086

In [184]:
for i, row in df_result.iterrows():
    line = df2_line[df2_line['구분2'] == row.구]
    X = line['기간'].values.reshape(-1, 1)
    y = line['여자비율'].values

    # 모델 훈련
    model.fit(X, y)

    # 회귀계수 출력
    slope = model.coef_[0]
    df_result.at[i, '회귀계수'] = slope.round(6)

In [188]:
# 조건 4
for i, row in df_result.iterrows():
    line = df2_line[df2_line['구분2'] == row.구]
    df_result.at[i, 'MinMax'] = (line['여자비율'].max() - line['여자비율'].min())

In [186]:
# 조건 5
for i, row in df_result.iterrows():
    line = df2_line[df2_line['구분2'] == row.구]
    df_result.at[i, '평균'] = (line['여자비율'].mean()).round(6)

In [205]:
# 조건 6
for i, row in df_result.iterrows():
    line = df2_line[df2_line['구분2'] == row.구]
    df_result.at[i, '표준편차'] = line['여자비율'].std(ddof=0)

In [206]:
df_result

       구      회귀계수    MinMax         평균      표준편차
0    강동구  0.052052  0.701401  50.631950  0.222337
1    구로구  0.085093  1.011929  50.267907  0.293120
2    노원구  0.016932  0.400031  52.033941  0.153785
3    도봉구  0.024619  0.580787  51.265114  0.148100
4   동대문구  0.042682  0.488017  50.060631  0.141627
5    동작구  0.054593  0.531461  51.427075  0.186288
6   서대문구  0.059956  0.935272  51.826214  0.264601
7    서초구  0.066071  0.841456  52.552076  0.250892
8    성동구  0.097432  1.129327  50.518469  0.344289
9    송파구 -0.019510  0.285715  51.585111  0.095467
10   양천구  0.024970  0.378362  51.171848  0.124261
11  영등포구  0.082978  0.889680  50.260807  0.280208

In [207]:

check_02_02(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 40 / 100

### 문제 2-3) 심화 전처리 03 (10점)
- 2-2의 DataFrame(df_result)을 이용하여 아래의 조건에 맞는 정보를 구하여 2-1의 DataFrame(df_target)에 입력하세요.
<br></br>
    - df_target의 '여자' Column Data의 Null값(None)을 채우기 위해 우선 위에서 구한 df_result값을 이용하려고 합니다.
<br></br>
    - 2-2의 df_result를 보면,
        - '회귀계수'의 경우 대부분 양수지만 아주 작은 값을 가지고 있습니다. 강동구의 경우 1년이 지날때 '여자비율'은 약 0.05% 정도 상승한다는 의미입니다.
        - 'MinMax'의 경우 최대 '여자비율'과 최소 '여자비율'의 차가 가장 큰 부분도 1.2%p 미만 수준입니다.
        - '표준편차'의 경우 대부분 평균의 0.5% 미만 수준으로 평균에 대부분의 '여자비율' Data들이 몰려있다고 보여집니다.
<br></br>
    - 따라서 '기간'(연도) 별로 '여자비율'은 평균에서 큰 차이가 없다고 판단되어 df_target의 '여자비율' Null값(None)에 df_result '구'('구분2') Data의 '평균' Data를 입력하려고 합니다.
<br></br>
    - 예시(df_result에서 '회귀계수'를 제외한 값은 실제와 값이 다름)
<br></br>
        <img src="images/06-2-3-001.png" style="margin:auto" width=800/>
<br></br>
<br></br>
    - 조건1: df_result의 '구'별 '평균' Data로 df_target의 '구분2'별 '여자비율' Data 중 Null값(None)을 대체하세요(위 예시 참고).
        - 소숫점 일곱번째 자리에서 반올림하여 여섯번째 자리까지만 나타내세요.
<br></br>
    - 조건2: 결과 DataFrame(df_target)의 Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건3: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_target)를 check_02_03 함수에 입력하여 채점하세요.

In [248]:
nan_rows = df2[df2['여자비율'].isna()]

# NaN을 구의 평균 값으로 채우기
for index, row in nan_rows.iterrows():
    구 = row['구분2']
    평균값 = df_result.loc[df_result['구'] == 구, '평균'].values[0]
    df2.at[index, '여자비율'] = 평균값

In [249]:
check_02_03(df2)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 50 / 100

In [ ]:
# 2-3


check_02_03(df_target)
df_target.head()

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 50 / 100

     기간    구분1     구분2    전체    남자   여자       여자비율
0  2009      시     서울시  24.3  45.5  4.0  51.084337
1  2009  생애주기별  19~29세  24.9  43.8  6.0  50.000000
2  2009  생애주기별  30~44세  29.9  55.1  3.8  49.122807
3  2009  생애주기별  45~64세  22.6  43.2  3.3  51.629073
4  2009  생애주기별  65세 이상  11.5  22.8  2.9  56.783920

### 문제 2-4) 심화 전처리 04 (10점)
- 2-3의 DataFrame(df_target)을 아래의 조건에 맞게 변경하세요.
<br></br>
    - 이제까지 위에서 구했던 '전체', '남자', '여자비율' Column(열) Data를 활용하여 df_target의 '여자' Column Data의 Null값(None)을 채우려고 합니다.
<br></br>
    - **# df_target.전체 = df_target.여자비율/100 * x + (1 - df_target.여자비율/100) * df_target.남자** 에서의 x% 값이 '여자' 입니다.
<br></br>
<br></br>
    - 조건1: '여자' Column(열)의 Data가 Null값(None)인 경우 위의 수식에 따라 '여자'를 구하여 '여자' Column에 입력하세요.
        - '여자' Column(열)의 Data는 소숫점 두 번째 자리에서 반올림하여 소숫점 첫 번째까지 입력해주세요.
        - '여자' Column(열) Data의 Type은 float(numpy.float64)이어야 합니다.
<br></br>
    - 조건2: 조건1을 수행한 후 '여자비율' Column(열)을 삭제하세요.
<br></br>
    - 조건3: Index, Column 순서 또는 Data 순서(정렬)는 변경하지 마세요.
<br></br>
    - 조건4: 'df_target' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
    - hint1: 2-1과 같이 방정식을 풀기 위한 Python Library로 Sympy 등이 있습니다. 해당 문제는 sympy를 이용해서 풀수도 있고, 비교적 쉬운 1차 방정식이므로 수식을 직접 전개해서 풀어도 상관 없습니다.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_target)를 check_02_04 함수에 입력하여 채점하세요.

In [254]:
df3 = df2.copy()

In [255]:
df3

       기간    구분1     구분2    전체    남자   여자       여자비율
0    2009      시     서울시  24.3  45.5  4.0  51.084337
1    2009  생애주기별  19~29세  24.9  43.8  6.0  50.000000
2    2009  생애주기별  30~44세  29.9  55.1  3.8  49.122807
3    2009  생애주기별  45~64세  22.6  43.2  3.3  51.629073
4    2009  생애주기별  65세 이상  11.5  22.8  2.9  56.783920
..    ...    ...     ...   ...   ...  ...        ...
424  2019      구     관악구  18.0  30.3  5.6  49.797571
425  2019      구     서초구  12.6  25.1  1.5  52.966102
426  2019      구     강남구  14.7  26.6  4.2  53.125000
427  2019      구     송파구  14.9  28.8  NaN  51.585111
428  2019      구     강동구  18.5  34.8  2.9  51.097179

[396 rows x 7 columns]

In [ ]:
(100 * df['전체'] + df['남자'] * df['여자비율'] - 100 * df['남자']) / df['여자비율']

In [256]:
df3['여자'] = df3['여자'].fillna((100 * df3['전체'] + df3['남자'] * df3['여자비율'] - 100 * df3['남자']) / df3['여자비율']).round(1)

In [266]:
df3 = df3.drop('여자비율', axis=1)

In [268]:

check_02_04(df3)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

In [ ]:
# 2-4


check_02_04(df_target)
df_target.head()

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 60 / 100

     기간    구분1     구분2    전체    남자   여자
0  2009      시     서울시  24.3  45.5  4.0
1  2009  생애주기별  19~29세  24.9  43.8  6.0
2  2009  생애주기별  30~44세  29.9  55.1  3.8
3  2009  생애주기별  45~64세  22.6  43.2  3.3
4  2009  생애주기별  65세 이상  11.5  22.8  2.9

## 3단계: 원하는 정보 얻기
***

### 문제 3-1) 원하는 정보 얻기 01 (10점)
- 2단계의 DataFrame(df_target)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - df_target '구분2' Column(열)의 '전체', '남자', '여자' 흡연율이 해마다 단조적(monotonic)으로 증가 또는 감소하는지 확인하고자 합니다.
<br></br>
    - 단조 증가 / 단조 감소
        - 어떤 수열이나 함수가 있을 때, 해당 수열이나 함수가 정의된 구간에서 감소하지 않는 경우를 단조증가, 증가하지 않는 경우를 단조감소 한다고 표현한다.
        - 다시말해, 중간에 감소 한번 없이 지속해서 증가하는 경우 단조 증가, 중간에 증가 없이 지속해서 감소하는 경우 단조 감소한다고 한다.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '구분2', '전체', '남자','여자'] 입니다.
<br></br>
    - 조건2: '구분2' 별로 '전체', '남자', '여자' Column(열) Data가 '기간'에 따라 단조적으로 변화하는지 아닌지 확인하세요.
        - 단조적으로 변화한다는 것은 단조 증가 변화와 단조 감소 변화를 모두 포괄하는 말입니다.
        - 단조적으로 변화한다면 True, 그렇지 않다면 False를 입력하세요.
<br></br>
    - 조건3: ['구분1', '구분2']를 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 boolean값을 넣었습니다.)
<br></br>
        <img src="images/06-3-1-001.png" style="margin:auto" width=400/>
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_result)를 check_03_01 함수에 입력하여 채점하세요.

In [302]:
df4 = df3.copy()

In [279]:
df4['구분1'].unique()

array(['시', '생애주기별', '교육수준별Ⅰ(30~64세)', '직업별(30~64세)', '구'], dtype=object)

In [277]:
df4.sort_values(['구분1', '구분2','기간'])

       기간             구분1  구분2    전체    남자   여자
6    2009  교육수준별Ⅰ(30~64세)   고졸  27.7  54.5  4.4
45   2010  교육수준별Ⅰ(30~64세)   고졸  27.0  53.8  4.7
84   2011  교육수준별Ⅰ(30~64세)   고졸  27.7  54.4  4.6
123  2012  교육수준별Ⅰ(30~64세)   고졸  27.1  54.1  4.4
162  2013  교육수준별Ⅰ(30~64세)   고졸  27.4  55.3  4.9
..    ...             ...  ...   ...   ...  ...
245  2015     직업별(30~64세)  육체직  34.8  48.0  3.9
284  2016     직업별(30~64세)  육체직  34.2  47.7  3.5
323  2017     직업별(30~64세)  육체직  34.7  49.0  2.5
362  2018     직업별(30~64세)  육체직  33.2  46.5  5.4
401  2019     직업별(30~64세)  육체직  34.2  46.5  4.3

[396 rows x 6 columns]

In [304]:
df_test = df4[(df4['구분1'] == '교육수준별Ⅰ(30~64세)') & (df4['구분2'] == '대졸이상')]

In [305]:
df_test

       기간             구분1   구분2    전체    남자   여자
7    2009  교육수준별Ⅰ(30~64세)  대졸이상  26.5  45.0  1.9
46   2010  교육수준별Ⅰ(30~64세)  대졸이상  25.0  43.1  1.9
85   2011  교육수준별Ⅰ(30~64세)  대졸이상  24.1  41.9  2.0
124  2012  교육수준별Ⅰ(30~64세)  대졸이상  24.0  41.5  2.7
163  2013  교육수준별Ⅰ(30~64세)  대졸이상  23.1  40.9  2.2
202  2014  교육수준별Ⅰ(30~64세)  대졸이상  21.1  37.6  1.9
241  2015  교육수준별Ⅰ(30~64세)  대졸이상  19.9  36.0  1.9
280  2016  교육수준별Ⅰ(30~64세)  대졸이상  20.6  36.5  2.1
319  2017  교육수준별Ⅰ(30~64세)  대졸이상  19.1  34.9  1.6
358  2018  교육수준별Ⅰ(30~64세)  대졸이상  19.5  35.1  2.2
397  2019  교육수준별Ⅰ(30~64세)  대졸이상  16.7  30.3  1.9

In [313]:
def compare_values(column_name, dataframe):
    # 데이터프레임의 특정 컬럼을 가져오기
    column_values = dataframe[column_name]

    # 데이터프레임의 특정 컬럼의 크기 비교 출력
    for i in range(len(column_values) - 1):
        current_value = column_values.iloc[i]
        next_value = column_values.iloc[i + 1]

        if current_value < next_value:
            print("-")
        elif current_value > next_value:
            print('+')
        else:
            print('=')

In [316]:
df4['구분2'].unique()

array(['서울시', '19~29세', '30~44세', '45~64세', '65세 이상', '중졸이하', '고졸',
       '대졸이상', '육체직', '서비스ㆍ판매직', '사무직', '종로구', '중구', '용산구', '성동구', '광진구',
       '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구',
       '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구',
       '송파구', '강동구'], dtype=object)

In [344]:
tmp = ['전체', '남자', '여자']
tmp2 = ['고졸', '대졸이상', '중졸이하']
tmp3 = ['종로구', '중구', '용산구', '성동구', '광진구',
       '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구',
       '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구',
       '송파구', '강동구']
tmp4 = ['19~29세', '30~44세', '45~64세', '65세 이상']
tmp5 = ['사무직', '서비스ㆍ판매직', '육체직']

In [315]:
for j in tmp2: 
    df_test = df4[(df4['구분1'] == '교육수준별Ⅰ(30~64세)') & (df4['구분2'] == j)]
    for i in tmp:
        compare_values(i, df_test)
        print('-'* 30)

+
-
+
-
+
+
+
+
+
-
------------------------------
+
-
+
-
+
+
-
+
+
+
------------------------------
-
+
+
-
=
-
+
-
+
-
------------------------------
+
+
+
+
+
+
-
+
-
+
------------------------------
+
+
+
+
+
+
-
+
-
+
------------------------------
=
-
-
+
+
=
-
+
-
+
------------------------------
+
+
-
-
+
+
+
-
-
+
------------------------------
+
+
-
-
+
-
+
-
+
+
------------------------------
+
+
+
-
-
+
-
+
-
-
------------------------------

In [321]:
for k in tmp3: 
    df_test = df4[(df4['구분1'] == '구') & (df4['구분2'] == k)]
    for i in tmp:
        compare_values(i, df_test)
        print('-'* 5 + k + '-'*5 + i + '-'*3)

-
-
+
+
-
+
+
+
-
+
-----종로구-----전체---
-
-
+
+
-
+
+
+
-
-
-----종로구-----남자---
+
+
-
+
-
=
+
+
-
+
-----종로구-----여자---
+
-
-
+
+
-
+
+
-
+
-----중구-----전체---
+
-
-
+
+
-
+
+
-
+
-----중구-----남자---
+
+
-
-
+
-
+
+
-
=
-----중구-----여자---
+
+
-
+
-
-
+
-
+
+
-----용산구-----전체---
+
+
=
+
-
+
+
+
+
+
-----용산구-----남자---
+
+
-
+
+
-
+
-
+
=
-----용산구-----여자---
+
-
+
+
-
+
-
+
-
-
-----성동구-----전체---
+
-
+
+
-
+
-
+
+
-
-----성동구-----남자---
+
-
+
-
-
+
-
=
-
=
-----성동구-----여자---
-
+
-
+
+
-
-
+
-
-
-----광진구-----전체---
-
+
-
+
+
-
+
+
-
-
-----광진구-----남자---
+
+
-
+
+
-
-
+
-
-
-----광진구-----여자---
+
+
+
+
+
+
-
-
+
-
-----동대문구-----전체---
+
+
-
+
+
+
-
-
+
+
-----동대문구-----남자---
+
-
+
-
+
+
-
-
+
-
-----동대문구-----여자---
+
-
+
-
-
+
-
-
+
+
-----중랑구-----전체---
+
+
+
-
-
+
-
-
+
+
-----중랑구-----남자---
+
-
+
-
+
+
+
-
-
+
-----중랑구-----여자---
-
+
+
-
+
+
-
+
-
+
-----성북구-----전체---
+
-
+
-
+
+
-
+
-
+
-----성북구-----남자---
-
+
-
+
-
+
-
-
-
+
-----성북구-----여자---
+
+
-
+
-
+
+
-
-
+
-----강북구-----전체---
+
+
-
+
-
+
+
-
-
+
-----강북구-----남자---
+
-
+
+
-
+
-
-
+
+
-----강북구-----여자---
-
+
-
+
-
+
-
+
+
+
-----도봉구-----전체---
+
+
-
+
-
+
-
+
+
+
-----도봉구-----남자---
-
+
-
+
-
+
-
+
+
-
-----도봉구-----여자---
-
-
+
-
+
+
-
+
-
-
-----노원구-----전체---
-
-
+
-
+
+
+
+
-
-
-----노원구-----남자---
+
-
+
-
+
-
-
+
+
-
-----노원구-----여자---
+
-
+
=
+
+
-
-
-
+
-----은평구-----전체---
+
-
+
-
+
+
-
+
-
+
-----은평구-----남자---
-
=
-
+
-
+
-
-
+
+
-----은평구-----여자---
+
+
-
+
+
-
+
-
+
+
-----서대문구-----전체---
+
+
-
+
+
-
+
-
+
+
-----서대문구-----남자---
+
+
-
+
+
+
+
-
+
-
-----서대문구-----여자---
+
+
-
+
+
+
+
+
-
+
-----마포구-----전체---
+
+
+
+
-
+
+
+
-
-
-----마포구-----남자---
+
+
-
-
+
-
+
+
-
+
-----마포구-----여자---
+
+
-
+
+
+
-
-
+
+
-----양천구-----전체---
+
+
+
-
+
+
-
-
+
-
-----양천구-----남자---
-
+
-
+
+
-
=
-
+
+
-----양천구-----여자---
+
+
-
-
+
+
+
-
+
+
-----강서구-----전체---
+
+
+
-
+
+
+
-
+
+
-----강서구-----남자---
+
+
-
+
-
+
+
-
+
-
-----강서구-----여자---
+
-
+
+
-
+
-
+
-
+
-----구로구-----전체---
+
-
+
+
-
+
-
+
+
+
-----구로구-----남자---
+
-
-
+
-
+
-
+
-
+
-----구로구-----여자---
=
+
-
+
+
+
-
+
-
+
-----금천구-----전체---
+
+
-
+
+
+
-
+
-
+
-----금천구-----남자---
-
=
-
-
+
-
+
+
-
+
-----금천구-----여자---
+
+
+
-
-
+
+
+
+
-
-----영등포구-----전체---
+
+
+
-
-
+
+
+
+
-
-----영등포구-----남자---
+
-
+
-
-
+
+
+
-
-
-----영등포구-----여자---
-
+
-
+
+
+
-
+
-
+
-----동작구-----전체---
-
+
+
-
+
+
-
+
+
+
-----동작구-----남자---
-
+
-
+
-
+
-
+
-
+
-----동작구-----여자---
+
+
-
+
+
-
+
+
-
+
-----관악구-----전체---
+
+
-
+
+
-
+
+
-
+
-----관악구-----남자---
+
+
-
-
+
-
+
=
-
-
-----관악구-----여자---
+
+
-
-
+
-
-
+
-
+
-----서초구-----전체---
+
+
-
-
+
-
-
+
-
+
-----서초구-----남자---
-
+
-
-
+
-
-
+
-
+
-----서초구-----여자---
+
-
+
-
+
-
+
-
-
+
-----강남구-----전체---
+
-
+
-
+
-
+
-
-
+
-----강남구-----남자---
+
-
+
-
+
-
+
+
-
+
-----강남구-----여자---
+
-
-
+
-
+
-
-
+
=
-----송파구-----전체---
+
+
-
+
-
+
-
-
+
+
-----송파구-----남자---
+
-
+
-
+
-
+
+
+
-
-----송파구-----여자---
-
+
-
+
+
-
+
+
+
-
-----강동구-----전체---
-
+
-
-
+
-
+
+
+
-
-----강동구-----남자---
-
+
-
=
+
+
+
-
+
-
-----강동구-----여자---

In [342]:
for k in tmp4: 
    df_test = df4[(df4['구분1'] == '생애주기별') & (df4['구분2'] == k)]
    for i in tmp:
        compare_values(i, df_test)
        print('-'* 5 + k + '-'*5 + i + '-'*3)

+
+
-
+
+
+
+
-
+
+
-----19~29세-----전체---
+
+
+
+
=
+
+
-
+
+
-----19~29세-----남자---
+
-
-
=
+
-
+
-
-
-
-----19~29세-----여자---
+
+
-
+
+
+
+
+
+
+
-----30~44세-----전체---
+
+
-
+
+
+
+
+
+
+
-----30~44세-----남자---
+
-
-
+
+
-
+
+
+
+
-----30~44세-----여자---
+
+
+
-
-
+
-
+
-
+
-----45~64세-----전체---
+
+
+
-
+
+
-
+
-
+
-----45~64세-----남자---
-
+
=
-
-
+
-
+
-
-
-----45~64세-----여자---
+
+
-
+
+
+
-
+
-
+
-----65세 이상-----전체---
+
+
-
+
-
+
-
+
-
+
-----65세 이상-----남자---
=
+
+
-
+
+
-
+
-
+
-----65세 이상-----여자---

In [343]:
df_test = df4[(df4['구분1'] == '시')]
for i in tmp:
    compare_values(i, df_test)
    print('-'* 5 + i + '-'*3)

+
+
+
+
+
+
-
+
+
+
-----전체---
+
+
+
+
+
+
-
+
+
+
-----남자---
+
+
-
=
+
=
=
+
-
-
-----여자---

In [345]:
for k in tmp5: 
    df_test = df4[(df4['구분1'] == '직업별(30~64세)') & (df4['구분2'] == k)]
    for i in tmp:
        compare_values(i, df_test)
        print('-'* 5 + k + '-'*5 + i + '-'*3)

+
+
+
+
+
+
-
+
-
+
-----사무직-----전체---
+
+
+
+
+
+
-
+
-
+
-----사무직-----남자---
-
+
-
+
+
-
+
+
+
+
-----사무직-----여자---
+
+
+
-
+
=
-
+
+
+
-----서비스ㆍ판매직-----전체---
+
-
+
-
+
+
-
+
-
+
-----서비스ㆍ판매직-----남자---
-
+
+
-
+
-
-
+
-
-
-----서비스ㆍ판매직-----여자---
+
+
+
-
-
+
+
-
+
-
-----육체직-----전체---
+
+
+
-
+
+
+
-
+
=
-----육체직-----남자---
+
+
-
+
-
+
+
+
-
+
-----육체직-----여자---

#### 결론

- 전부다 False이다

In [325]:
import numpy as np

In [329]:
df_result = df4[['구분1', '구분2']]
df_result[['전체', '남자', '여자']] = False

C:\Users\HoJin\AppData\Local\Temp\ipykernel_26196\490028017.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result[['전체', '남자', '여자']] = False
C:\Users\HoJin\AppData\Local\Temp\ipykernel_26196\490028017.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result[['전체', '남자', '여자']] = False
C:\Users\HoJin\AppData\Local\Temp\ipykernel_26196\490028017.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_result[['전체', '남자', '여자']] = False

In [338]:
df_result = df_result.drop_duplicates().sort_values(by=['구분1', '구분2']).reset_index(drop=True)

In [339]:
check_03_01(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 70 / 100

In [ ]:
# 3-1

check_03_01(df_result)
display(df_result)

방법1
정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 70 / 100

/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:4: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  df_result = df_target.iloc[:, 1:].groupby(['구분1', '구분2'], as_index=False).agg(lambda x: x.is_monotonic)

               구분1      구분2     전체     남자     여자
0   교육수준별Ⅰ(30~64세)       고졸  False  False  False
1   교육수준별Ⅰ(30~64세)     대졸이상  False  False  False
2   교육수준별Ⅰ(30~64세)     중졸이하  False  False  False
3                구      강남구  False  False  False
4                구      강동구  False  False  False
5                구      강북구  False  False  False
6                구      강서구  False  False  False
7                구      관악구  False  False  False
8                구      광진구  False  False  False
9                구      구로구  False  False  False
10               구      금천구  False  False  False
11               구      노원구  False  False  False
12               구      도봉구  False  False  False
13               구     동대문구  False  False  False
14               구      동작구  False  False  False
15               구      마포구  False  False  False
16               구     서대문구  False  False  False
17               구      서초구  False  False  False
18               구      성동구  False  False  False
19               구      성북구  False  False  False
20               구      송파구  False  False  False
21               구      양천구  False  False  False
22               구     영등포구  False  False  False
23               구      용산구  False  False  False
24               구      은평구  False  False  False
25               구      종로구  False  False  False
26               구       중구  False  False  False
27               구      중랑구  False  False  False
28           생애주기별   19~29세  False  False  False
29           생애주기별   30~44세  False  False  False
30           생애주기별   45~64세  False  False  False
31           생애주기별   65세 이상  False  False  False
32               시      서울시  False  False  False
33     직업별(30~64세)      사무직  False  False  False
34     직업별(30~64세)  서비스ㆍ판매직  False  False  False
35     직업별(30~64세)      육체직  False  False  False

방법2
정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 70 / 100

/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:18: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  total = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '전체'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:19: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  male = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '남자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:20: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  female = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '여자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:18: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  total = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '전체'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:19: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  male = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '남자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:20: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  female = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '여자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:32: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_result = pd.concat([df_result, temp_df])
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:18: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  total = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '전체'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:19: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  male = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '남자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:20: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  female = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '여자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:32: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_result = pd.concat([df_result, temp_df])
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:18: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  total = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '전체'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:19: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  male = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '남자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:20: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  female = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '여자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:32: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_result = pd.concat([df_result, temp_df])
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:18: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  total = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '전체'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:19: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  male = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '남자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:20: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  female = df_target.loc[(df_target.구분1==kind1)&(df_target.구분2==kind2), '여자'].is_monotonic
/var/folders/zy/y0xvgm496czd1sh6nk6c_qbm0000gn/T/ipykernel_87614/355787994.py:32: FutureWarning: In a future version, object-dtype columns with all-bool values will not be included in reductions with bool_only=True. Explicitly cast to bool dtype instead.
  df_result = pd.concat([df_result, temp_df])

               구분1      구분2     전체     남자     여자
0   교육수준별Ⅰ(30~64세)       고졸  False  False  False
1   교육수준별Ⅰ(30~64세)     대졸이상  False  False  False
2   교육수준별Ⅰ(30~64세)     중졸이하  False  False  False
3                구      강남구  False  False  False
4                구      강동구  False  False  False
5                구      강북구  False  False  False
6                구      강서구  False  False  False
7                구      관악구  False  False  False
8                구      광진구  False  False  False
9                구      구로구  False  False  False
10               구      금천구  False  False  False
11               구      노원구  False  False  False
12               구      도봉구  False  False  False
13               구     동대문구  False  False  False
14               구      동작구  False  False  False
15               구      마포구  False  False  False
16               구     서대문구  False  False  False
17               구      서초구  False  False  False
18               구      성동구  False  False  False
19               구      성북구  False  False  False
20               구      송파구  False  False  False
21               구      양천구  False  False  False
22               구     영등포구  False  False  False
23               구      용산구  False  False  False
24               구      은평구  False  False  False
25               구      종로구  False  False  False
26               구       중구  False  False  False
27               구      중랑구  False  False  False
28           생애주기별   19~29세  False  False  False
29           생애주기별   30~44세  False  False  False
30           생애주기별   45~64세  False  False  False
31           생애주기별   65세 이상  False  False  False
32               시      서울시  False  False  False
33     직업별(30~64세)      사무직  False  False  False
34     직업별(30~64세)  서비스ㆍ판매직  False  False  False
35     직업별(30~64세)      육체직  False  False  False

### 문제 3-2) 원하는 정보 얻기 02 (10점)
- 2단계의 DataFrame(df_target)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - df_target '구분2' Column(열)의 '전체', '남자', '여자' 흡연율이 해를 거듭할수록 증가 또는 감소하는지 회귀계수를 통해서 확인하고자 합니다.
<br></br>
    - 회귀계수에 대해서는 앞의 2-2 문제를 참고해주세요.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '구분2', '전체', '남자','여자'] 입니다.
<br></br>
    - 조건2: '구분2' 별로 '전체', '남자', '여자' Column(열) Data에 대해 '기간'에 따른 회귀계수를 구하세요.
<br></br>
    - 조건3: ['구분1', '구분2']를 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 float값을 넣었습니다.)
<br></br>
        <img src="images/06-3-2-001.png" style="margin:auto" width=400/>
<br></br>
    - 조건4: 'df_result' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_result)를 check_03_02 함수에 입력하여 채점하세요.

In [348]:
df_result = df4[['구분1', '구분2']]
df_result = df_result.drop_duplicates().sort_values(by=['구분1', '구분2']).reset_index(drop=True)

In [352]:
tmp = ['전체', '남자', '여자']
for idx, row in df_result.iterrows():
    df_test = df4[(df4['구분1'] == row.구분1) & (df4['구분2'] == row.구분2)]
    # print(df_test)
    for i in tmp:
        X = df_test['기간'].values.reshape(-1, 1)
        y = df_test[i].values
        # 모델 훈련
        model.fit(X, y)

        # 회귀계수 출력
        slope = model.coef_[0]
        df_result.at[idx, i] = slope.round(6)

In [353]:
df_result

               구분1      구분2        전체        남자        여자
0   교육수준별Ⅰ(30~64세)       고졸 -0.367273 -0.797273  0.074545
1   교육수준별Ⅰ(30~64세)     대졸이상 -0.872727 -1.285455 -0.013636
2   교육수준별Ⅰ(30~64세)     중졸이하  0.006364 -0.205455  0.075455
3                구      강남구 -0.488182 -0.910909 -0.124545
4                구      강동구 -0.909091 -1.543636 -0.260000
5                구      강북구 -0.522727 -0.956364 -0.062727
6                구      강서구 -0.507273 -1.085455  0.082727
7                구      관악구 -0.583636 -1.073636 -0.057273
8                구      광진구 -0.485455 -1.033636  0.107273
9                구      구로구 -0.794545 -1.485455 -0.056364
10               구      금천구 -0.635455 -1.273636  0.038182
11               구      노원구 -0.530000 -1.214545  0.110000
12               구      도봉구 -0.762727 -1.647273  0.091818
13               구     동대문구 -0.854545 -1.599091 -0.092727
14               구      동작구 -0.649091 -1.423636  0.101818
15               구      마포구 -0.907273 -1.665455 -0.141818
16               구     서대문구 -0.542727 -1.038182 -0.043636
17               구      서초구 -0.587273 -1.049091 -0.137273
18               구      성동구 -0.556364 -1.060000  0.004545
19               구      성북구 -0.834545 -1.621818 -0.033636
20               구      송파구 -0.782727 -1.517273 -0.093636
21               구      양천구 -0.705455 -1.420909 -0.007273
22               구     영등포구 -0.783636 -1.387273 -0.147273
23               구      용산구 -0.831818 -1.455455 -0.222727
24               구      은평구 -0.619091 -1.361818  0.137273
25               구      종로구 -0.641818 -1.177273 -0.073636
26               구       중구 -0.701818 -1.181818 -0.150909
27               구      중랑구 -0.333636 -0.734545  0.086364
28           생애주기별   19~29세 -0.657273 -1.416364  0.141818
29           생애주기별   30~44세 -0.940000 -1.802727 -0.008182
30           생애주기별   45~64세 -0.252727 -0.465455 -0.031818
31           생애주기별   65세 이상 -0.310000 -0.560909 -0.153636
32               시      서울시 -0.660000 -1.286364 -0.027273
33     직업별(30~64세)      사무직 -1.218182 -1.408182 -0.053636
34     직업별(30~64세)  서비스ㆍ판매직 -0.701818 -0.876364  0.012727
35     직업별(30~64세)      육체직 -0.528182 -0.790909 -0.009091

In [354]:
check_03_02(df_result)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 80 / 100

In [ ]:
# 3-2

check_03_02(df_result)

방법1
정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 80 / 100

               구분1      구분2        전체        남자        여자
0   교육수준별Ⅰ(30~64세)       고졸 -0.367273 -0.797273  0.074545
1   교육수준별Ⅰ(30~64세)     대졸이상 -0.872727 -1.285455 -0.013636
2   교육수준별Ⅰ(30~64세)     중졸이하  0.006364 -0.205455  0.075455
3                구      강남구 -0.488182 -0.910909 -0.124545
4                구      강동구 -0.909091 -1.543636 -0.260000
5                구      강북구 -0.522727 -0.956364 -0.062727
6                구      강서구 -0.507273 -1.085455  0.082727
7                구      관악구 -0.583636 -1.073636 -0.057273
8                구      광진구 -0.485455 -1.033636  0.107273
9                구      구로구 -0.794545 -1.485455 -0.056364
10               구      금천구 -0.635455 -1.273636  0.038182
11               구      노원구 -0.530000 -1.214545  0.110000
12               구      도봉구 -0.762727 -1.647273  0.091818
13               구     동대문구 -0.854545 -1.599091 -0.092727
14               구      동작구 -0.649091 -1.423636  0.101818
15               구      마포구 -0.907273 -1.665455 -0.141818
16               구     서대문구 -0.542727 -1.038182 -0.043636
17               구      서초구 -0.587273 -1.049091 -0.137273
18               구      성동구 -0.556364 -1.060000  0.004545
19               구      성북구 -0.834545 -1.621818 -0.033636
20               구      송파구 -0.782727 -1.517273 -0.093636
21               구      양천구 -0.705455 -1.420909 -0.007273
22               구     영등포구 -0.783636 -1.387273 -0.147273
23               구      용산구 -0.831818 -1.455455 -0.222727
24               구      은평구 -0.619091 -1.361818  0.137273
25               구      종로구 -0.641818 -1.177273 -0.073636
26               구       중구 -0.701818 -1.181818 -0.150909
27               구      중랑구 -0.333636 -0.734545  0.086364
28           생애주기별   19~29세 -0.657273 -1.416364  0.141818
29           생애주기별   30~44세 -0.940000 -1.802727 -0.008182
30           생애주기별   45~64세 -0.252727 -0.465455 -0.031818
31           생애주기별   65세 이상 -0.310000 -0.560909 -0.153636
32               시      서울시 -0.660000 -1.286364 -0.027273
33     직업별(30~64세)      사무직 -1.218182 -1.408182 -0.053636
34     직업별(30~64세)  서비스ㆍ판매직 -0.701818 -0.876364  0.012727
35     직업별(30~64세)      육체직 -0.528182 -0.790909 -0.009091

방법2
정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 80 / 100

               구분1      구분2        전체        남자        여자
0   교육수준별Ⅰ(30~64세)       고졸 -0.367273 -0.797273  0.074545
1   교육수준별Ⅰ(30~64세)     대졸이상 -0.872727 -1.285455 -0.013636
2   교육수준별Ⅰ(30~64세)     중졸이하  0.006364 -0.205455  0.075455
3                구      강남구 -0.488182 -0.910909 -0.124545
4                구      강동구 -0.909091 -1.543636 -0.260000
5                구      강북구 -0.522727 -0.956364 -0.062727
6                구      강서구 -0.507273 -1.085455  0.082727
7                구      관악구 -0.583636 -1.073636 -0.057273
8                구      광진구 -0.485455 -1.033636  0.107273
9                구      구로구 -0.794545 -1.485455 -0.056364
10               구      금천구 -0.635455 -1.273636  0.038182
11               구      노원구 -0.530000 -1.214545  0.110000
12               구      도봉구 -0.762727 -1.647273  0.091818
13               구     동대문구 -0.854545 -1.599091 -0.092727
14               구      동작구 -0.649091 -1.423636  0.101818
15               구      마포구 -0.907273 -1.665455 -0.141818
16               구     서대문구 -0.542727 -1.038182 -0.043636
17               구      서초구 -0.587273 -1.049091 -0.137273
18               구      성동구 -0.556364 -1.060000  0.004545
19               구      성북구 -0.834545 -1.621818 -0.033636
20               구      송파구 -0.782727 -1.517273 -0.093636
21               구      양천구 -0.705455 -1.420909 -0.007273
22               구     영등포구 -0.783636 -1.387273 -0.147273
23               구      용산구 -0.831818 -1.455455 -0.222727
24               구      은평구 -0.619091 -1.361818  0.137273
25               구      종로구 -0.641818 -1.177273 -0.073636
26               구       중구 -0.701818 -1.181818 -0.150909
27               구      중랑구 -0.333636 -0.734545  0.086364
28           생애주기별   19~29세 -0.657273 -1.416364  0.141818
29           생애주기별   30~44세 -0.940000 -1.802727 -0.008182
30           생애주기별   45~64세 -0.252727 -0.465455 -0.031818
31           생애주기별   65세 이상 -0.310000 -0.560909 -0.153636
32               시      서울시 -0.660000 -1.286364 -0.027273
33     직업별(30~64세)      사무직 -1.218182 -1.408182 -0.053636
34     직업별(30~64세)  서비스ㆍ판매직 -0.701818 -0.876364  0.012727
35     직업별(30~64세)      육체직 -0.528182 -0.790909 -0.009091

### 문제 3-3) 원하는 정보 얻기 03 (10점)
- 3-2의 DataFrame(df_result)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - 3-2의 df_result '구분1' Column(열) Data마다 어떤 '구분2' Column(열)의 Data가 '전체' 흡연율 감소율이 높은지/낮은지 알아보고자 합니다.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '최대', '최소'] 입니다.
<br></br>
    - 조건2: 회귀계수가 음수(=흡연율이 감소중)인 '구분1' Column(열) Data 중 어떤 '구분2' Column(열) Data가 '전체' 흡연율 감소율이 가장 높은지/낮은지 찾아서 결과 DataFrame에 입력하세요.
        - '구분1' 중 '시'는 '구분2' Data 가 1개(서울시)이므로 제외합니다.
        - 만약, '구분1' Column(열) Data 중 감소중인 '구분2' Column(열) Data가 1개라면, 해당 '구분2' Data를 '최대'에 넣고, '최소' Column(열)에는 None값을 입력하세요.
        - 만약, '구분1' Column(열) Data 중 증가중인 '구분2' Column(열) Data가 없다면, 해당 '구분1' Data는 건너뛰세요.(결과 DataFrame에 입력하지 마세요)
<br></br>
    - 조건3: ['구분1']을 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 값을 넣었습니다.)
<br></br>
        <img src="images/06-3-3-001.png" style="margin:auto" width=300/>
<br></br>
    - 조건4: 'df_maxmin' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_maxmin)를 check_03_04 함수에 입력하여 채점하세요.

In [371]:
df_result2 = df_result.copy()
df_result2

               구분1      구분2        전체        남자        여자
0   교육수준별Ⅰ(30~64세)       고졸 -0.367273 -0.797273  0.074545
1   교육수준별Ⅰ(30~64세)     대졸이상 -0.872727 -1.285455 -0.013636
2   교육수준별Ⅰ(30~64세)     중졸이하  0.006364 -0.205455  0.075455
3                구      강남구 -0.488182 -0.910909 -0.124545
4                구      강동구 -0.909091 -1.543636 -0.260000
5                구      강북구 -0.522727 -0.956364 -0.062727
6                구      강서구 -0.507273 -1.085455  0.082727
7                구      관악구 -0.583636 -1.073636 -0.057273
8                구      광진구 -0.485455 -1.033636  0.107273
9                구      구로구 -0.794545 -1.485455 -0.056364
10               구      금천구 -0.635455 -1.273636  0.038182
11               구      노원구 -0.530000 -1.214545  0.110000
12               구      도봉구 -0.762727 -1.647273  0.091818
13               구     동대문구 -0.854545 -1.599091 -0.092727
14               구      동작구 -0.649091 -1.423636  0.101818
15               구      마포구 -0.907273 -1.665455 -0.141818
16               구     서대문구 -0.542727 -1.038182 -0.043636
17               구      서초구 -0.587273 -1.049091 -0.137273
18               구      성동구 -0.556364 -1.060000  0.004545
19               구      성북구 -0.834545 -1.621818 -0.033636
20               구      송파구 -0.782727 -1.517273 -0.093636
21               구      양천구 -0.705455 -1.420909 -0.007273
22               구     영등포구 -0.783636 -1.387273 -0.147273
23               구      용산구 -0.831818 -1.455455 -0.222727
24               구      은평구 -0.619091 -1.361818  0.137273
25               구      종로구 -0.641818 -1.177273 -0.073636
26               구       중구 -0.701818 -1.181818 -0.150909
27               구      중랑구 -0.333636 -0.734545  0.086364
28           생애주기별   19~29세 -0.657273 -1.416364  0.141818
29           생애주기별   30~44세 -0.940000 -1.802727 -0.008182
30           생애주기별   45~64세 -0.252727 -0.465455 -0.031818
31           생애주기별   65세 이상 -0.310000 -0.560909 -0.153636
32               시      서울시 -0.660000 -1.286364 -0.027273
33     직업별(30~64세)      사무직 -1.218182 -1.408182 -0.053636
34     직업별(30~64세)  서비스ㆍ판매직 -0.701818 -0.876364  0.012727
35     직업별(30~64세)      육체직 -0.528182 -0.790909 -0.009091

In [381]:
df_maxmin = df_result2['구분1']
df_maxmin = pd.DataFrame(df_maxmin)
df_maxmin = df_maxmin.drop_duplicates().drop(index=32, axis=0)
df_maxmin

               구분1
0   교육수준별Ⅰ(30~64세)
3                구
28           생애주기별
33     직업별(30~64세)

In [400]:
for idx, row in df_maxmin.iterrows():
    df_test = df_result2[(df_result2['구분1'] == row.구분1) & (df_result2['전체'] < 0)]

    min_value = df_test['전체'].min()
    max_value = df_test['전체'].max()

    min_row = df_test[df_test['전체'] == min_value]['구분2'].values[0]
    max_row = df_test[df_test['전체'] == max_value]['구분2'].values[0]

    df_maxmin.at[idx, '최대'] = max_row
    df_maxmin.at[idx, '최소'] = min_row

In [403]:
df_maxmin = df_maxmin.reset_index(drop=True)

In [404]:
df_maxmin

              구분1      최대      최소
0  교육수준별Ⅰ(30~64세)      고졸    대졸이상
1               구     중랑구     강동구
2           생애주기별  45~64세  30~44세
3     직업별(30~64세)     육체직     사무직

In [405]:
check_03_03(df_maxmin)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 90 / 100

In [ ]:
# 3-3

check_03_03(df_maxmin)
df_maxmin

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 90 / 100

              구분1      최대      최소
0  교육수준별Ⅰ(30~64세)      고졸    대졸이상
1               구     중랑구     강동구
2           생애주기별  45~64세  30~44세
3     직업별(30~64세)     육체직     사무직

### 문제 3-4) 원하는 정보 얻기 04 (10점)
- 3-2의 DataFrame(df_result)을 이용하여 아래의 조건에 맞는 정보를 구하세요.
<br></br>
    - 3-2의 df_result '구분1' Column(열) Data마다 어떤 '구분2' Column(열)의 Data가 '여자' 흡연율 증가율이 높은지/낮은지 알아보고자 합니다.
<br></br>
<br></br>
    - 조건1: 결과 DataFrame의 Column(열)명은 ['구분1', '최대', '최소'] 입니다.
<br></br>
    - 조건2: 회귀계수가 양수(=흡연율이 증가중)인 '구분1' Column(열) Data 중 어떤 '구분2' Column(열) Data가 '여자' 흡연율 감소율이 가장 높은지/낮은지 찾아서 결과 DataFrame에 입력하세요.
        - '구분1' 중 '시'는 '구분2' Data 가 1개(서울시)이므로 제외합니다.
        - 만약, '구분1' Column(열) Data 중 증가중인 '구분2' Column(열) Data가 1개라면, 해당 '구분2' Data를 '최대'에 넣고, '최소' Column(열)에는 None값을 입력하세요.
        - 만약, '구분1' Column(열) Data 중 증가중인 '구분2' Column(열) Data가 없다면, 해당 '구분1' Data는 건너뛰세요.(결과 DataFrame에 입력하지 마세요)
<br></br>
    - 조건3: ['구분1']을 기준으로 오름차순으로 순서를 변경(sort)하고 Index를 Reset하세요.
<br></br>
    - 예시(임의의 값을 넣었습니다.)
<br></br>
        <img src="images/06-3-4-001.png" style="margin:auto" width=300/>
<br></br>
    - 조건4: 'df_maxmin' 변수에 결과 DataFrame을 할당하세요.
<br></br>
<br></br>
- 완료 후 결과 dataframe 변수(df_maxmin)를 check_03_04 함수에 입력하여 채점하세요.

In [407]:
df_result2 = df_result.copy()
df_result2

               구분1      구분2        전체        남자        여자
0   교육수준별Ⅰ(30~64세)       고졸 -0.367273 -0.797273  0.074545
1   교육수준별Ⅰ(30~64세)     대졸이상 -0.872727 -1.285455 -0.013636
2   교육수준별Ⅰ(30~64세)     중졸이하  0.006364 -0.205455  0.075455
3                구      강남구 -0.488182 -0.910909 -0.124545
4                구      강동구 -0.909091 -1.543636 -0.260000
5                구      강북구 -0.522727 -0.956364 -0.062727
6                구      강서구 -0.507273 -1.085455  0.082727
7                구      관악구 -0.583636 -1.073636 -0.057273
8                구      광진구 -0.485455 -1.033636  0.107273
9                구      구로구 -0.794545 -1.485455 -0.056364
10               구      금천구 -0.635455 -1.273636  0.038182
11               구      노원구 -0.530000 -1.214545  0.110000
12               구      도봉구 -0.762727 -1.647273  0.091818
13               구     동대문구 -0.854545 -1.599091 -0.092727
14               구      동작구 -0.649091 -1.423636  0.101818
15               구      마포구 -0.907273 -1.665455 -0.141818
16               구     서대문구 -0.542727 -1.038182 -0.043636
17               구      서초구 -0.587273 -1.049091 -0.137273
18               구      성동구 -0.556364 -1.060000  0.004545
19               구      성북구 -0.834545 -1.621818 -0.033636
20               구      송파구 -0.782727 -1.517273 -0.093636
21               구      양천구 -0.705455 -1.420909 -0.007273
22               구     영등포구 -0.783636 -1.387273 -0.147273
23               구      용산구 -0.831818 -1.455455 -0.222727
24               구      은평구 -0.619091 -1.361818  0.137273
25               구      종로구 -0.641818 -1.177273 -0.073636
26               구       중구 -0.701818 -1.181818 -0.150909
27               구      중랑구 -0.333636 -0.734545  0.086364
28           생애주기별   19~29세 -0.657273 -1.416364  0.141818
29           생애주기별   30~44세 -0.940000 -1.802727 -0.008182
30           생애주기별   45~64세 -0.252727 -0.465455 -0.031818
31           생애주기별   65세 이상 -0.310000 -0.560909 -0.153636
32               시      서울시 -0.660000 -1.286364 -0.027273
33     직업별(30~64세)      사무직 -1.218182 -1.408182 -0.053636
34     직업별(30~64세)  서비스ㆍ판매직 -0.701818 -0.876364  0.012727
35     직업별(30~64세)      육체직 -0.528182 -0.790909 -0.009091

In [396]:
df_maxmin = df_result2['구분1']
df_maxmin = pd.DataFrame(df_maxmin)
df_maxmin = df_maxmin.drop_duplicates().drop(index=32, axis=0)
df_maxmin

               구분1
0   교육수준별Ⅰ(30~64세)
3                구
28           생애주기별
33     직업별(30~64세)

In [426]:
for idx, row in df_maxmin.iterrows():
    df_test = df_result2[(df_result2['구분1'] == row.구분1) & (df_result2['여자'] > 0)]
    # print(df_test)
    min_value = df_test['여자'].min()
    max_value = df_test['여자'].max()

    min_row = df_test[df_test['여자'] == min_value]['구분2'].values[0]
    max_row = df_test[df_test['여자'] == max_value]['구분2'].values[0]

    if max_row == min_row:
        min_row = None
    # 최소, 최대 값을 df_maxmin에 할당
    df_maxmin.at[idx, '최대'] = max_row
    df_maxmin.at[idx, '최소'] = min_row

In [427]:
df_maxmin

              구분1       최대    최소
0  교육수준별Ⅰ(30~64세)     중졸이하    고졸
1               구      은평구   성동구
2           생애주기별   19~29세  None
3     직업별(30~64세)  서비스ㆍ판매직  None

In [428]:
check_03_04(df_maxmin)

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 100 / 100

In [ ]:
# 3-4

check_03_04(df_maxmin)
df_maxmin

정답입니다! 10점 누적 되었습니다!
현재 누적 점수: 100 / 100

           구분1       최대    최소
0            구      은평구   성동구
1        생애주기별   19~29세  None
2  직업별(30~64세)  서비스ㆍ판매직  None

***

### 🎊 문제가 끝났습니다. 제출양식과 일정에 맞춰 제출해주시기를 바랍니다!

### 제출양식
- 이 파일은 EDA TEST 6회차 노트북입니다. 따라서 제출시 파일명은 아래와 같습니다.
- [DS]edalvtest_06_yourname.ipynb

***

# 문의사항 및 의견이 있는 경우 작성해주세요.